{% extends 'base.html' %}

{% block title %}
    TORPEDO MOSCOW
{% endblock %}

{% block content_title %}
    List of smth
{% endblock %}

{% block content %}
<div class="col-md-offset-3 col-md-6">
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam asperiores assumenda consectetur cupiditate
        delectus deserunt distinctio eaque eos ex explicabo maiores molestias nam porro quas quidem repellat,
        reprehenderit repudiandae voluptas?
    </div>

    <div>Accusantium aperiam at, dolorem et iste minima obcaecati omnis porro qui soluta sunt ullam unde voluptas,
        voluptates voluptatum. Deleniti enim labore magni minima mollitia natus nisi placeat quod sequi sit.
    </div>

    <div>A accusantium ad animi architecto aspernatur atque beatae, ea eveniet facilis id in libero maiores neque nihil
        nobis odio pariatur praesentium ratione reprehenderit saepe similique tempore ut veritatis vero voluptatum.
    </div>
    <div>Ab accusantium asperiores, consectetur dicta fugiat harum hic nobis nulla porro rerum tempore unde vel. Ab
        aspernatur assumenda cupiditate debitis, deserunt ducimus facilis, harum hic nam perferendis placeat praesentium
        voluptas.
    </div>
    <div>Et exercitationem facere voluptatem. Architecto asperiores cum cupiditate explicabo iure, magnam magni, modi
        mollitia nulla odio placeat quod reprehenderit tenetur unde voluptas. Asperiores esse eum labore maxime nemo
        nihil vero.
    </div>
    <div>Beatae debitis eius esse expedita porro repellat voluptatum? Ad adipisci asperiores assumenda atque consectetur
        eos in inventore, ipsum necessitatibus perspiciatis quam quibusdam ratione rem saepe sed tenetur ullam unde? Ab.
    </div>
    <div>Cum impedit in laborum modi mollitia? Consectetur earum enim expedita fugit minima, nisi! At esse non pariatur
        quibusdam repudiandae, soluta? Adipisci amet deleniti esse fuga id laboriosam placeat possimus quibusdam.
    </div>
    <div>A aliquid aperiam aspernatur assumenda commodi dicta distinctio dolorum, ea ex, inventore ipsam laudantium
        libero maiores mollitia nam odit officiis praesentium quas quia quidem quisquam reiciendis rem veniam vero
        voluptatum?
    </div>
    <div>Debitis, eum expedita explicabo fuga hic nemo! Accusamus adipisci beatae consequatur cumque dolores earum eos,
        fugit ipsa iste iure iusto nobis omnis quae quia ratione repellendus suscipit tempora totam unde.
    </div>
    <div>Commodi, doloribus, error eum eveniet exercitationem facere fuga molestiae non numquam pariatur quae ratione
        suscipit, tempore voluptas voluptate. Corporis eos, error in modi nesciunt quasi quia quo recusandae similique
        vel.
    </div>
    <div>Culpa cumque dolore ea facere, libero minima odio, praesentium quasi quod reiciendis rem repellat sint, tempora
        vero voluptatum. Accusamus aperiam doloribus hic libero non nostrum perferendis perspiciatis quia quidem rem.
    </div>
    <div>Accusantium at consequatur corporis doloremque error facilis fuga, fugiat, harum illo inventore ipsam
        laboriosam magni nulla odit omnis possimus quaerat quasi quis recusandae repellendus reprehenderit, rerum sed
        similique tempora unde.
    </div>
    <div>Adipisci assumenda consectetur deserunt eius excepturi exercitationem, expedita facere incidunt ipsum molestiae
        nam nisi numquam placeat quo reprehenderit rerum saepe sit soluta unde vel. Ad consequatur minima natus placeat
        reiciendis?
    </div>
    <div>Amet at eveniet exercitationem fugit, id impedit in ipsa iste iusto, minus neque numquam officia praesentium
        repellendus sint vel veritatis? Commodi cupiditate deserunt dolore enim facilis molestias quas quibusdam
        tempore.
    </div>
    <div>Amet, aspernatur at beatae consectetur delectus dolorum eius eligendi eum excepturi harum id inventore libero
        magnam magni molestias mollitia neque placeat quos reiciendis reprehenderit soluta sunt ut velit veritatis
        voluptatum.
    </div>
    <div>Accusantium assumenda atque doloremque ducimus est nemo nulla officia, quisquam, rem rerum tempora voluptatem?
        Est incidunt rerum vel. A animi blanditiis, cumque cupiditate expedita facere labore recusandae rerum sapiente
        sint!
    </div>
    <div>Amet architecto autem commodi, deleniti dolore doloribus ducimus eius eos eum excepturi fugiat in libero magnam
        molestias numquam perspiciatis possimus quam quisquam ratione rem repellat repudiandae sapiente sint tenetur ut!
    </div>
    <div>Adipisci asperiores beatae eaque numquam, perferendis provident suscipit? Ab asperiores assumenda earum id
        ipsum laudantium maiores modi mollitia natus, obcaecati porro quod ratione sapiente sequi soluta voluptatibus
        voluptatum. Commodi, facere?
    </div>
    <div>Aliquam architecto deleniti est in obcaecati perspiciatis reiciendis, ullam voluptatum? Ad alias aperiam beatae
        cupiditate enim hic iste maiores modi mollitia odio placeat quam quisquam, quod rerum sint, vitae voluptatum.
    </div>
    <div>Autem corporis ea nostrum odit porro soluta tempore unde ut voluptatum. Alias amet, commodi deleniti dolorem
        eos explicabo laborum mollitia pariatur quae, rem sed, vel veritatis voluptas? Itaque laboriosam, voluptate!
    </div>
    <div>Accusantium consectetur dolorum, impedit maxime nam non nostrum odit officiis perferendis perspiciatis quo
        saepe tempore vel! Debitis ex, minus nam placeat provident vero voluptates. Accusamus ad in molestias natus
        suscipit?
    </div>
    <div>A ab amet architecto beatae cupiditate distinctio dolores facilis impedit ipsam ipsum libero magni nihil nobis
        numquam odio provident quaerat quidem ratione recusandae suscipit totam ut, vero! Iusto, officia, quasi!
    </div>
    <div>Commodi cum debitis eos est ipsum itaque quasi quo quos, repellat reprehenderit rerum saepe sed similique sint
        sit sunt tempora, tempore, voluptates. A amet assumenda, dolor doloribus iure maiores soluta!
    </div>
    <div>Beatae cupiditate eius facere quisquam! Ab, aliquid expedita molestias mollitia omnis optio perspiciatis
        possimus sapiente voluptatem! Ab aliquam, asperiores aut autem dolorum fugit ipsum natus, nemo obcaecati,
        reiciendis sapiente unde?
    </div>
    <div>Accusamus accusantium cum cupiditate deserunt earum eligendi et, facere fuga hic incidunt inventore molestias
        odit, recusandae saepe sunt ut vitae. Ad est fugit illum! Assumenda dolor eos est perspiciatis. Excepturi.
    </div>
    <div>Debitis labore minima nisi nobis provident quae quia quisquam, quod unde voluptatem. Corporis deleniti
        distinctio eligendi error est eum eveniet excepturi expedita nam quibusdam quidem reiciendis similique totam
        unde, veritatis.
    </div>
    <div>Culpa delectus deserunt molestias quam veniam. Aspernatur corporis cum dolore esse et molestiae odit
        praesentium soluta suscipit ut. Accusamus amet asperiores cumque fugit ipsa iste nobis quos, similique tempore
        voluptatum?
    </div>
    <div>Laborum, molestiae, saepe. Culpa, dolorem dolorum illo ipsam necessitatibus pariatur quaerat quasi repudiandae.
        Architecto aut, consequatur consequuntur dolore doloremque enim facere laborum, magni neque quas quidem
        repellendus saepe. Perferendis, praesentium.
    </div>
    <div>Eligendi eveniet, similique. Amet ea enim illo nihil obcaecati sed? Cupiditate dolore eaque, eius est iste
        iusto rem saepe sunt tempora voluptatibus! At aut, eaque et eum itaque non recusandae.
    </div>
    <div>A amet animi assumenda blanditiis cupiditate dolor dolores ducimus eligendi error fugiat laudantium maxime
        molestias nam nemo obcaecati optio perferendis provident quasi reiciendis, repellat, sint tempora unde ut vero
        vitae.
    </div>
    <div>Aspernatur corporis delectus eius, esse est laudantium officiis. Aliquam, animi culpa debitis eius eveniet
        exercitationem facilis hic iusto laboriosam libero nam necessitatibus officia quaerat quam quas, sed, sit
        tempora voluptatum!
    </div>
    <div>Amet consectetur deleniti dolor dolores doloribus eaque, earum excepturi expedita fugiat incidunt ipsam ipsum
        iure labore, laudantium mollitia nam nobis nostrum officiis possimus qui quidem quisquam rerum sunt veniam
        voluptatum!
    </div>
    <div>A accusantium architecto assumenda cumque cupiditate dolore facere magni minima nam, natus non quod reiciendis
        suscipit! Consequatur consequuntur ducimus eligendi facere fugiat impedit quas recusandae reiciendis veritatis
        voluptas? Ipsa, nulla?
    </div>
    <div>Aliquam aliquid atque commodi cupiditate dicta, doloremque eos facilis itaque iusto magni necessitatibus neque
        odit, officia optio velit! Amet consectetur dolorum enim minima nihil omnis placeat ratione recusandae
        reiciendis ut.
    </div>
    <div>Ad architecto atque commodi consequuntur cupiditate debitis dolorem earum enim eveniet id, in ipsa, natus omnis
        praesentium quaerat quas suscipit velit veritatis voluptates, voluptatibus. Deleniti eos non quia ratione sequi.
    </div>
    <div>Cum dolorem enim, libero nobis recusandae vero vitae voluptates. Illum modi repudiandae vero. At atque debitis
        itaque, laudantium libero quo rem suscipit voluptate! Doloremque expedita fuga molestiae odit praesentium!
        Minima?
    </div>
    <div>Ab alias animi aperiam atque autem commodi cumque, cupiditate debitis, doloribus, eligendi error facere
        inventore ipsam ipsum iure laboriosam laborum molestiae non officiis perferendis quas quis repellendus
        temporibus ut veniam?
    </div>
    <div>Dolorem earum est maiores non officiis provident sapiente sint totam. Aliquam aut dicta dolorum eius ex
        molestias recusandae repudiandae, similique temporibus. Aliquam dicta iste magni rem saepe. Commodi nemo,
        sapiente.
    </div>
    <div>Atque corporis inventore minus nam nisi officiis quaerat quidem voluptate? Aut libero magnam minus quas sequi.
        Exercitationem officia quidem quod quos? Architecto enim eveniet fugit impedit laborum nulla omnis suscipit?
    </div>
    <div>Enim ex porro quasi veritatis voluptates. A blanditiis consectetur dolore doloremque ea earum enim, esse
        explicabo inventore ipsum magni maiores, maxime molestias officia perferendis provident quis quod quos,
        reiciendis unde.
    </div>
    <div>A culpa, eius fugiat ipsam libero, magni mollitia quibusdam quisquam sequi similique vitae voluptates. Alias
        aliquid, beatae dolor dolorem doloribus esse excepturi expedita molestias, obcaecati ratione reiciendis rem sint
        soluta.
    </div>
    <div>Adipisci architecto consequuntur corporis cum dolore, doloremque dolores dolorum error et illo iste itaque
        maiores maxime, minus neque nisi numquam officia, pariatur possimus quisquam reprehenderit sapiente similique.
        Asperiores, cum, eos?
    </div>
    <div>Dolorum expedita illo laboriosam nesciunt, pariatur quis quo sint soluta ullam vel. Consequuntur debitis
        ducimus facilis illum impedit itaque iure, iusto, minima nostrum nulla odio quia recusandae sint, vel
        voluptates!
    </div>
    <div>Ad, consequuntur culpa cum cumque fugit ipsam numquam officiis quae quisquam ullam ut voluptate? Accusantium
        aspernatur consectetur earum eius id impedit ipsa molestiae optio, soluta? Dignissimos excepturi officia quam
        voluptatibus!
    </div>
    <div>Accusamus aliquam aliquid doloremque fugiat odit perspiciatis quisquam sed, unde. Aliquid ex hic ipsa maiores
        non quam recusandae sed similique totam? Doloribus modi nemo omnis placeat porro quae repudiandae ut?
    </div>
    <div>Ab adipisci aut commodi cum, cumque distinctio dolorem ducimus et, in labore laudantium libero maxime minus
        mollitia nemo nihil nostrum nulla, odio omnis reiciendis repellendus reprehenderit sint temporibus ullam vero?
    </div>
    <div>Adipisci et expedita, harum inventore magnam omnis quia vero voluptas! Adipisci alias at cum eligendi esse
        explicabo, illum maiores minima molestias, nihil nulla provident quae recusandae soluta, vitae voluptates
        voluptatibus!
    </div>
    <div>Accusamus autem, beatae consectetur dolor doloribus ea eligendi error esse est et, in iure iusto laudantium
        magnam modi necessitatibus neque nihil nisi numquam porro, praesentium quae saepe tempore ut vel!
    </div>
    <div>Dolore, possimus, voluptatem. Accusamus aliquid autem culpa cum delectus distinctio dolores eos et eveniet
        excepturi explicabo illo ipsa labore, laborum laudantium magnam molestias numquam omnis pariatur recusandae
        repudiandae, sunt temporibus?
    </div>
    <div>Alias animi at blanditiis corporis culpa dolore enim est expedita laborum nam, nesciunt nihil omnis sequi ullam
        ut. Animi dolores eos explicabo tenetur? Accusantium dolorem eius esse facilis quam sint?
    </div>
</div>
{% endblock %}