{% extends 'base.html' %}

{% block title %}
    TORPEDO MOSCOW
{% endblock %}

{% block content_title %}
    Torpedo Moscow history:
{% endblock %}

{% block content %}
    <div class="col-md-offset-3 col-md-6">
        В конце 1919 года на южных окраинах Москвы, где сосредоточилось множество промышленных предприятий, на месте
        нынешнего выхода из метро «Автозаводская», не без помощи молодежи близлежащих улиц и переулков, оборудовали
        небольшую спортивную площадку, где познакомили жителей района с волейболом и футболом. На ней, расширенной до
        размеров футбольного поля, 20 сентября 1922 года состоялась международная встреча с футбольной командой Рабочего
        спортивного союза Финляндии (ТУЛ), в которой ЗКС победил 7:1. Позже на той спортивной площадке свои матчи
        проводила футбольная команда РДПК. А позже, когда команда стала называться уже АМО, Футболисты играли на бывшем
        стадионе СКЗ, который стал называться ЗиС, пока команда не переехала на «Стадион имени Эдуарда Стрельцова».

        В 1924 году — в соответствии с решением VI съезда профсоюзов[1] — Союзом металлистов создаются межрайонные
        объединённые спортивные клубы, среди которых был и симоновский клуб «Пролетарская Кузница» (Рабочий Дворец
        «Пролетарская Кузница» или РДПК), который стал центром спортивной жизни Пролетарского района. РДПК
        просуществовал шесть сезонов, из которых четыре — в высшей лиге. В его активе были победы и над сильнейшими
        командами столичного футбола — «Металлургом», «Динамо» и «Пищевиками».

        В конце 1930 года (10-15 ноября) Всесоюзной конференцией профсоюзов по физической культуре и спорту принимается
        решение о построении физкультурных организаций по производственному принципу. Это привело к ликвидации РДПК, так
        как на всех промышленных предприятиях района стали создаваться свои коллективы физкультуры, в которые перешли
        практически все игроки младших команд. Самую большую потерю в составе понёс РДПК, в связи с организацией
        футбольной секции на автозаводе АМО при деятельном участии Василия Канаева, Сергея Троицкого, Бориса Сигачёва,
        Виктора Павлова, Егора Курского, Виктора Маслова, Григория Помогаева, Вячеслава Орлова, Михаила и Николая
        Путистиных, Анатолия Емельянова и др. Впоследствии за этот новый коллектив они выступали долгие годы.

        Ноябрь 1930 года официально принято считать месяцем и годом создания «Торпедо». 1931 год — первый сезон будущих
        торпедовцев (а пока АМО) в высшей лиге первенства Москвы. Коллектив АМО в финальном турнире осеннего первенства
        был пятым, пропустив вперёд «Динамо», «СКиТ (Союз Кооперации и Торговли)», «Серп и молот» и ЗКП (завод «Красный
        пролетарий»). Руководил командой Сергей Троицкий, в роли играющего тренера был Виктор Маслов. В течение первых
        трёх лет за коллектив АМО (ЗИС) некоторое время выступали: Михаил Рущинский, Михаил Путистин, Константин
        Щегоцкий — будущие киевские динамовцы, Виктор Дубинин — будущий московский динамовец, Александр Шапошников и
        Михаил Сушков — впоследствии первый президент клуба «Кожаный мяч». В 1936 году состоялся первый розыгрыш
        Первенства страны среди клубов. Коллектив получает новое название — «Торпедо».

        «Торпедо» в высшей лиге СССР (1938—1941)
        Сезон 1937 года команда завершила на шестой позиции в группе «Б». В следующем году высшую лигу расширили до 26
        клубов и провели первенство в один круг. В первом сезоне среди сильнейших, москвичи заняли девятое место.
        Выделялись инсайды Константин Рязанцев и Пётр Петров, их с тыла поддерживали полузащитники Виктор Маслов и В.
        Ершов. В сезоне 1938 года впервые был опубликован список 55 лучших футболистов. Из «Торпедо» туда попало трое
        футболистов: полузащитник Иван Кочетков (под № 3), правый полусредний (инсайд) Константин Рязанцев (под № 4) и
        правый полузащитник Виктор Маслов (под № 5).

        В чемпионате 1939 года участвовало 14 команд. Главной целью торпедовцев было остаться в классе сильнейших. Но
        после десяти туров клуб шёл предпоследним. Был уволен Сергей Васильевич Бухтеев, а на его место пришёл
        Константин Павлович Квашнин. «Торпедо» во втором круге заиграло лучше и сумело занять девятое место. Лучшими
        бомбардирами команды стали Георгий Жарков (13 голов) и Пётр Петров (12 голов). В следующем году автозаводцы
        опустились ещё ниже — на одиннадцатое место. По классу они значительно уступали другим московским командам:
        «Динамо», «Спартаку», ЦДКА.

        После бледных результатов, футбольные чиновники решили создать сборные из лучших игроков советских профсоюзов. В
        турнире 1941 года стартовали команды «Профсоюзы-1» и «Профсоюзы-2». Часть торпедовцев оказалась в первом
        (теоретически более сильном) коллективе, часть — во втором. Однако, чемпионат не был доигран из-за начала
        Великой Отечественной войны.

        Футболисты принимали участие в эвакуации завода за пределы Москвы. Защитник Кочетков ушёл на фронт, а после
        войны защищал цвета ЦДКА. Константин Рязанцев перешёл в московский «Спартак». Закончил выступления ветеран В.
        Поляков.

        Послевоенное время (1942—1953)
        Первые игры в столице Советского Союза начали организовывать уже в 1942 году. Регулярно проводили первенство
        Москвы. Его «торпедовцы» выиграли в 1944 году. В том же году команда достигла крупнейшего на то время успеха в
        Кубке СССР — полуфинал, а Николай Ильин стал первым футболистом «Торпедо», который удостоился звания
        заслуженного мастера спорта.

        Главным тренером клуба в послевоенные годы был Виктор Маслов. За команду начал выступать талантливый нападающий
        Александр Пономарёв. Москвичи завоевали бронзу, но отставание от второй команды — ЦДКА — составило 12 очков. В
        1946 году команда финишировала четвёртой, а Пономарёв стал лучшим бомбардиром Чемпионата СССР, за что получил
        звание заслуженного мастера спорта. В обороне дебютировал Юрий Чайко. В следующем году коллектив пополнился ещё
        двумя сильными футболистами — крайним правым нападающим Антонином Сочневым и защитником Агустином Гомесом (баск,
        который остался в СССР после турне юношеской сборной Басконии в 1937 году). Надёжным вратарём был Анатолий
        Акимов, в середине поля выступали Павел Соломатин и Юрий Чайко. Немало забивал Пономарёв. Клуб стабильно
        выступал в Чемпионате СССР: пятое место в 1947 и 1948 годах, четвёртая позиция в 1949 году.

        В 1947 году «автозаводцы» впервые в своей истории вышли в финал Кубка страны, победив тбилисское «Динамо» в
        четвертьфинале и ЦДКА в полуфинале. Но в решающей игре сильнее оказался «Спартак» (Москва), который выиграл
        финал со счётом 2:0.

        Первый трофей клуб завоевал в 1949 году — был добыт Кубок Советского Союза. Команда повторила этот успех в 1952
        году. Покинул «Торпедо» его капитан Александр Пономарёв, закончил карьеру последний из созвездия довоенных
        игроков.

        1953—1959
        Смена поколений и омоложение клуба продолжались — в 1953 году в «Торпедо» дебютировал 19-летний Валентин Иванов
        — первый из футболистов и лидеров, которые будут формировать лицо клуба в 50-е и 60-е годы. В следующем году
        тренеры пригласили в команду юного Эдуарда Стрельцова. Эта пара вошла в историю как первые «торпедовцы» которых
        пригласили в сборную СССР — это произошло в 1955 году. В следующем году в коллектив влились защитник Леонид
        Островский и нападающий Слава Метревели, чуть позже — Геннадий Гусаров. Когда в 1957 в команду вернулся
        наставник Виктор Маслов, в его распоряжении был полный набор классных исполнителей. Попытка стать чемпионом
        наткнулась на замечательную игру московского «Динамо». «Динамовцы» уверенно действовали в обороне, пропустив за
        весь сезон лишь 15 голов. «Торпедо», для сравнения, пропустило 23 и отстало от чемпиона на 8 очков. Регулярно
        входили в список 33 лучших Валентин Иванов и Эдуард Стрельцов. Леонид Островский стал надёжным оплотом защиты
        команды.

        Оптимальное количество забивных футболистов дало возможность тренерам окончательно отказаться от игры с пятью
        нападающими и перейти к схеме с четырьмя форвардами. В середине сезона 1958 года Эдуарда Стрельцова арестовали и
        посадили в тюрьму. Клуб потерял одну из ключевых фигур. Команда опустилась на 7 место. В чемпионате 1959 года
        «Торпедо» финишировало пятым, отметившись малым количеством пропущенных голов. Окончательно сформировалась линия
        обороны команды: Александр Медакин — Виктор Шустиков — Леонид Островский. Первые поединки провёл полузащитник
        Валерий Воронин.

        В Кубке два года подряд непреодолимой стеной вставал московский «Спартак» — в турнире 1957 года, разгромив в
        четвертьфинале «Динамо» (Тбилиси) 6:1 (5 мячей провел Стрельцов, один — Метревели), «автозаводцы» встретились в
        полуфинале со «Спартаком» и уступили с минимальным счётом — 0:1. В следующем году те же клубы встретились уже в
        финале, и опять победил «Спартак» 1:0.

        Скоро Торпедо вновь станет чемпионами.
    </div>
{% endblock %}